<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS --->
    <link
            rel="stylesheet"
            href="assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/libs/css/style.css" />
    <link
            rel="stylesheet"
            href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css"
    />
    <link
            rel="stylesheet"
            href="assets/vendor/charts/chartist-bundle/chartist.css"
    />
    <link
            rel="stylesheet"
            href="assets/vendor/charts/morris-bundle/morris.css"
    />
    <link
            rel="stylesheet"
            href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css" />
    <link
            rel="stylesheet"
            href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>Employee</title>
</head>
<body>

 <div class="dashboard-main-wrapper">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-8">
                <br>
                <div class="card">
                    <h3 class="card-header" > Welcome to Employee Registration Page</h3>
                    <div class="card-body">
                        <form class="form-group" th:object="${employee}" action="/employee/confirm" method="post"  >
                            <div class="row">
                                <div class="col-3">
                                    <label class="form-label"> First Name :</label>
                                    <input class="form-control" type="text" th:field="*{firstName}"><br>
                                </div>
                                <div class="col-3">
                                    <label class="form-label"> Last Name :</label>
                                    <input class="form-control" type="text" th:field="*{lastName}"><br>
                                </div>
                                <div class="col-3">
                                    <label class="form-label"> Birth Date :</label>
                                    <input class="form-control" type="number" th:field="*{birthday}"><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email:</label>
                                        <div class="col-sm-10">
                                            <input th:field="*{email}" type="email" class="form-control" id="email" placeholder="Enter email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="control-label " for="pwd">Password:</label>
                                        <div class="col-sm-10">
                                            <input th:field="*{password}" type="password" class="form-control" id="pwd" placeholder="Enter password">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">Adress</label>
                                        <input th:field="*{address}" type="text" class="form-control" id="formGroupExampleInput" placeholder="1234 Main St">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput2">Adress 2</label>
                                        <input th:field="*{address2}" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Apartment, studio">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="form-label"> City :</label>
                                    <input th:field="*{city}" class="form-control" type="text"><br>
                                </div>
                                <div class="col-3">
                                    <label class="form-label"> State :</label>
                                    <select th:field="*{state}" class="form-select" aria-label="Default select example">
                                        <option th:each="theState : ${states}"  th:value="${theState}" th:text="${theState}" >Open this select menu</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="form-label"> Zip :</label>
                                    <input th:field="*{zipCode}" class="form-control" type="text" ><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger">Register</button>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>
 </div>


 <!-- Optional JavaScript -->
 <!-- jquery 3.3.1 -->
 <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
 <!-- bootstap bundle js -->
 <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
 <!-- slimscroll js -->
 <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
 <!-- main js -->
 <script src="assets/libs/js/main-js.js"></script>
 <!-- chart chartist js -->
 <script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
 <!-- sparkline js -->
 <script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
 <!-- morris js -->
 <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
 <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
 <!-- chart c3 js -->
 <script src="assets/vendor/charts/c3charts/c3.min.js"></script>
 <script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
 <script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
 <script src="assets/libs/js/dashboard-ecommerce.js"></script>
 <script></script>
</body>
</html>