<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
</head>
<body>
        <h2>First Name:<span th:text="${employee.firstName}"></span></h2>
        <h2>Last Name:<span th:text="${employee.lastName}"></span></h2>
        <h2>Email:<span th:text="${employee.email}"></span></h2>
        <h2>Gender:<span th:text="${employee.city}"></span></h2>
        <h2>Graduated:<span th:text="${employee.zipCode}"></span></h2>
        <h2>Batch Number:<span th:text="${employee.state}"></span></h2>
</body>
</html>